h2 {
  position: relative;
  top: 20px;
  margin-bottom: 0;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid #111;
  border-radius: 10px;
}
#icon {
  position: relative;
  top: 20px;
  right: 80px;
}
.units {
  list-style: none;
  position: relative;
  left: 70px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  top: 20px;
}
.form-group {
  position: relative;
  right: 30px;
}
.btn {
  position: relative;
  right: 30px;
}
.container {
  font-family: "Merriweather", serif;
  font-size: 12px;
}
.weeklyTemp {
  top: 50px;
  text-align: center;
  font-size: 13px;
}
.days {
  top: 60px;
  text-align: center;
  font-size: 10px;
}
.climate {
  position: relative;
  font-size: 15px;
  padding-bottom: 0%;
  padding-top: 100px;
}
.icons {
  font-size: 40px;
  top: 55px;
  text-align: center;
}
.OpenLink {
  color: black;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
#description {
  font-size: 13px;
  bottom: 15px;
}
#temperature {
  position: relative;
  list-style: none;
  top: 50px;
  left: 25px;
  font-size: 25px;
  margin: 0;
  padding: 0;
}
