h2 {
  position: relative;
  top: 20px;
  margin: 0 0 5px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid #111;
}
.icon {
  position: relative;
}
.units {
  position: relative;
  top: 25px;
  left: 85px;
}
.form-group {
  position: relative;
}
.btn {
  position: relative;
}
.container {
  font-family: "Merriweather", serif;
  font-size: 12px;
}
.weeklyTemp {
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 20px;
}
.days {
  position: relative;
  top: 60px;
  text-align: center;
  font-size: 15px;
}
.climate {
  font-size: 15px;
  padding-bottom: 0%;
  padding-top: 30px;
}
.icons {
  font-size: 40px;
  position: relative;
  top: 55px;
  text-align: center;
}
.openLink {
  position: relative;
  color: pink;
  font-size: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
}
#temperature {
  position: relative;
  top: 25px;
  left: 45px;
  font-size: 25px;
}
